*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #837cf4;
}

.container {
  background-color: #ffff;
  width: 90vmin;
  padding: 2rem 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.options {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

button {
  height: 2rem;
  width: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  /* display: grid;
  place-items: center; */
}

select {
  height: 2rem;
  width: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  /* display: grid;
  place-items: center; */
  font-family: "poppins", sans-serif;
}

/* .options label,
.options select {
  font-family: "poppins", sans-serif;
} */

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 0.9rem;
}

input[type="color"] {
  appearance: none;
  width: 2rem;
  height: 1rem;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

/* input[type="color"]::-webkit-color-swatch-wrapper {
  border-radius: 0.5rem;
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px #020929;
} */

#text-input {
  margin-top: 1.5rem;
  border: 1px solid whitesmoke;
  padding: 1.2rem;
  height: 50vh;
}

.active {
  background-color: red;
  color: bule;
}
